.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
    margin-top: 50px;
}

.project-card {
    background-color: var(--bg-secondary);
    padding: 2rem 1.75rem;
    border-radius: 4px;
    transition: var(--transition-normal);
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.project-card:hover {
    transform: translateY(-7px);
}

.project-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.folder-icon {
    color: var(--accent-primary);
}

.folder-icon svg {
    width: 40px;
    height: 40px;
}

.project-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-links a {
    color: var(--text-secondary);
    width: 20px;
    height: 20px;
}

.project-links a:hover {
    color: var(--accent-primary);
}

.project-title {
    color: var(--text-primary);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.project-description {
    color: var(--text-secondary);
    font-size: 17px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.project-tech-list li {
    color: var(--text-secondary);
    font-family: monospace;
    font-size: 12px;
    margin-right: 15px;
}